
.jsdot-toolbar { position: absolute; top: -45px; }
.jsdot-tb-selected { border: 2px dotted black !important; }
.jsdot-tb-nested { display: inline; float: right; background: lightBlue; padding: 2px; }
.jsdot-tb-hiddentb { display: none; }
.jsdot_edgeviz_line { stroke: black; stroke-width: 1; stroke-dasharray: 8, 5; pointer-events: none; }

.ui-icon { width: 16px; height: 16px; background-image: url(../img/icons-all.png) !important; }
.jsdot-icon-cursor { background-position: -112px -240px; }
.jsdot-icon-addnode { background-position: -16px 0; }
.jsdot-icon-addedge { background-position: -192px -32px; }
.jsdot-icon-removenode { background-position: -208px -224px; }
.jsdot-icon-alignleft { background-position: -256px -624px; }
